<!DOCTYPE html>
<html>
<head>
    <title>LeadLine</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/d3.layout.cloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/wordCloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/worldMap1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/riverTheme.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/entityGraph.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/libs/modernizr-2.0.6.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/CustomTooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/coffee-script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<style>
    .toHide1, .toHide2, .toHide3 {
      display: none;
    }
    .countries:hover{
        fill:steelblue;
    }
</style>

<body>
    <div id="container" class="container">
      <header><h1>Entity View</h1></header>
      <div id="main" role="main">
        <div id="view_selection" class="btn-group">
          <a href="#" id="all" class="btn active">All Entities</a>
          <a href="#" id="year" class="btn">Entities By Year</a>
        </div>
        <div id="vis"></div>
      </div>
    </div>

    <br>

    <div id="riverThemeDisp" class="riverTheme" align="center"></div>

    <br>

    <table align="center">
      <tr>
        <td>
          <div id="wordCloudDisp" class="wordCloud" align="center"></div>
        </td>
        <td>
          <div id="worldMapDisp1" class="worldMap1" align="center"></div>
        </td>
      </tr>
    </table>
</body>

<script>
    var selectedYear;
    var selectedEvent;
    var data;

    displayEntityGraph();

    function sendData(y, x) {
        selectedYear = y;
        selectedEvent = x;
        responseData = {'yearSelected': selectedYear, 'eventSelected': selectedEvent}
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/selectDate", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(responseData));

        xhr.onload = function() {
          data = JSON.parse(this.responseText);
          document.getElementById("wordCloudDisp").innerHTML = "";
          document.getElementById("worldMapDisp1").innerHTML = "";
          setTimeout(function() {
            displayWordCloud(data['ldaData']);
            displayWorldMap1(data['mapData1']);
          }, 100);
        }
    }
</script>
</html>
