<!DOCTYPE html>
<html>
<head>
    <title>LeadLine</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/d3.layout.cloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/wordCloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/worldMap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/entityGraph.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/libs/modernizr-2.0.6.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/CustomTooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/coffee-script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<!-- <style>
    body {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: bold;
    }
</style> -->

<body>
    <div id="years" class="YearOuter" align="left">
      <b style="color:#008ed6;margin-top:250px; font-weight: bold; font-size:120%;">Select a Year</b>
      <select id="optionSelected" onchange="loaddata(this.value)">
          <option value="" disabled selected>None</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
      </select>
    </div>

    <div id="wordCloudDisp" class="wordCloud"></div>

    <div id="worldMapDisp" class="worldMap"></div>

    <div id="container" class="container">
      <header><h1>Entity View</h1></header>
      <div id="main" role="main">
        <div id="view_selection" class="btn-group">
          <a href="#" id="all" class="btn active">All Entities</a>
          <a href="#" id="year" class="btn">Entities By Year</a>
        </div>
        <div id="vis"></div>
      </div>
    </div>

    <!-- <form action = "http://localhost:5000/index" method = "post">
          <p>Enter Number of words:</p>
          <p><input type = "number" name = "words" /></p>
          <p><input type = "submit" value = "submit" /></p>
    </form> -->
</body>

<script>
    var data;
    data = {{result | tojson}};

    displayWordCloud(data[0]);
    displayWorldMap();
    displayEntityGraph();

    function loaddata(x) {
        // var response1 = {'dateSelected': x}
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/selectDate", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({'dateSelected': x}));
        // xhr.onload = function() {
        //   console.log(this.responseText);
        //   var data = JSON.parse(this.responseText);
        //   console.log(data)
        //   var x = document.getElementById("date1").max = data['result']['end']
        //   var x = document.getElementById("date1").min = data['result']['start']
        //   var x = document.getElementById("date2").max = data['result']['end']
        //   var x = document.getElementById("date2").min = data['result']['start']
        //
        //   var x = document.getElementById("players");
        //   x.style.display="block";
        // }
    }
</script>
</html>
