<!DOCTYPE html>
<html>
<head>
    <title>LeadLine</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/d3.layout.cloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/wordCloud.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/worldMap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/worldMap1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='visualizations/entityGraph.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/libs/modernizr-2.0.6.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/CustomTooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/coffee-script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<style>
    .toHide1, .toHide2, .toHide3 {
      display: none;
    }
    .container {
      display: none;
    }
    /* path {
      stroke: white;
      stroke-width: 0.27px;
      fill: grey;
    }
    .countries:hover{
        fill:steelblue;
    }
    circle {
      fill: steelblue;
      fill-opacity: .6;
      stroke: #fff;
    } */
</style>

<body>
    <div id="years" class="YearOuter" align="center">
      <b style="color:#008ed6;margin-top:250px; font-weight: bold; font-size:120%;">Select a Year</b>
      <select id="optionSelected" onchange="loadEvents(this.value)">
          <option value="" disabled selected>None</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
      </select>
    </div>

    <br>

    <div id="events2016" class="toHide1" align="center">
      <b style="color:#008ed6;margin-top:250px; font-weight: bold; font-size:120%;">Select an Event</b>
      <select id="optionSelected" onchange="sendData(this.value)">
          <option value="" disabled selected>None</option>
          <option value="2016One">2016One</option>
          <option value="2016Two">2016Two</option>
          <option value="2016Three">2016Three</option>
      </select>
    </div>

    <div id="events2017" class="toHide2" align="center">
      <b style="color:#008ed6;margin-top:250px; font-weight: bold; font-size:120%;">Select an Event</b>
      <select id="optionSelected" onchange="sendData(this.value)">
          <option value="" disabled selected>None</option>
          <option value="2017One">2017One</option>
          <option value="2017Two">2017Two</option>
          <option value="2017Three">2017Three</option>
      </select>
    </div>

    <div id="events2018" class="toHide3" align="center">
      <b style="color:#008ed6;margin-top:250px; font-weight: bold; font-size:120%;">Select an Event</b>
      <select id="optionSelected" onchange="sendData(this.value)">
          <option value="" disabled selected>None</option>
          <option value="2018One">2018One</option>
          <option value="2018Two">2018Two</option>
          <option value="2018Three">2018Three</option>
      </select>
    </div>

    <div id="wordCloudDisp" class="wordCloud"></div>

    <div id="worldMapDisp" class="worldMap"></div>

    <div id="worldMapDisp1" class="worldMap1"></div>

    <div id="container" class="container">
      <header><h1>Entity View</h1></header>
      <div id="main" role="main">
        <div id="view_selection" class="btn-group">
          <a href="#" id="all" class="btn active">All Entities</a>
          <a href="#" id="year" class="btn">Entities By Year</a>
        </div>
        <div id="vis"></div>
      </div>
    </div>
</body>

<script>
    var selectedYear;
    var selectedEvent;
    var data;

    displayEntityGraph();

    function loadEvents(x) {
        selectedYear = x;
        document.getElementById("wordCloudDisp").innerHTML = "";
        document.getElementById("worldMapDisp").innerHTML = "";
        document.getElementById("worldMapDisp1").innerHTML = "";
        document.getElementById("container").style.display="none";

        if (x == "2016") {
            document.getElementById("events2016").style.display="block";
            document.getElementById("events2017").style.display="none";
            document.getElementById("events2018").style.display="none";
        } else if (x == "2017") {
            document.getElementById("events2016").style.display="none";
            document.getElementById("events2017").style.display="block";
            document.getElementById("events2018").style.display="none";
        } else if (x == "2018") {
            document.getElementById("events2016").style.display="none";
            document.getElementById("events2017").style.display="none";
            document.getElementById("events2018").style.display="block";
        }
    }

    function sendData(x) {
        selectedEvent = x;
        responseData = {'yearSelected': selectedYear, 'eventSelected': selectedEvent}
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/selectDate", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(responseData));

        xhr.onload = function() {
          data = JSON.parse(this.responseText);
          document.getElementById("wordCloudDisp").innerHTML = "";
          document.getElementById("worldMapDisp").innerHTML = "";
          document.getElementById("worldMapDisp1").innerHTML = "";
          if (document.getElementById("container").style.display == "block") {
            document.getElementById("container").style.display="none";
          }
          setTimeout(function() {
            displayWordCloud(data['ldaData']);
            displayWorldMap(data['mapData']);
            displayWorldMap1(data['mapData1']);
            document.getElementById("container").style.display="block";
          }, 100);
        }
    }
</script>
</html>
